{% extends 'base.html' %}
{% load static %}

{% block resim %}
    <div class=" container-umut ">
        <div class="content ">
            <a href="#"><img class="resim" src="{% static 'img/r2.jpg' %}"></a>
            <h1> John Steinbeck </h1>



            <p class="gl"> 27 Şubat 1902'de ABD'nin Kaliforniya eyaletinin Salinas kentinde doğdu. 20 Aralık
                1968'de New York'ta yaşamını yitirdi. 1940 Pulitzer Ödülü ve 1962 Nobel Edebiyat
                Ödülü sahibi gerçekçi roman-öykü yazarı.

                Bir ırgat ailesinin çocuğudur. Babası Prusyalı, annesi ise İrlandalı göçmen bir
                aileye mensuptur. Yaşıtları gibi o da küçük yaşlarda çiftçilik yaptı. 1920-1926
                arasında aralıklarla Stanford Üniversitesi'ne devam etti. Öğrenimini sürdürebilmek
                için duvarcılık, boyacılık, kapıcılık, eczacılık gibi işlerde çalıştı. Okulu
                bitiremedi. Öğrencilik yıllarında başladığı yazmayı sürdürdü. Irgatlık ve işçilik
                yaparken edindiği deneyimler, eserlerinde işçilerin yaşamlarını gerçekçi bir dile
                anlatmasına büyük katkı sağladı. İlk romanlarından başlayarak hep işçileri, yaşam
                koşullarını, ilişkilerini anlattı. İlk kitabı " Altın Kupa " (1929). 1936'da
                yayınlanan "Bitmeyen Kavga"da tarım işçilerinin grevi ve bu greve önderlik eden iki
                Marksisti anlattı. Amerikan çalışma sistemine keskin eleştiriler yöneltti. Üçüncü
                kitabı "Fareler ve İnsanlar" 1937'de yayınlandı. Bu kez iki göçmen işçi arasındaki
                garip ve karmaşık ilişkinin öyküsünü anlatıyordu. Kendisine "Pulitzer Ödülü" getiren
                ünlü romanı "Gazap Üzümleri" 1940'ta sinemaya aktarıldı. II. Dünya Savaşı yıllarında
                daha çok ideolojik eserler verdi. İzleyen yıllarda politikadan uzak, eğlendirici
                yanı ağır basan duygusal öğelerin de yer aldığı eserler ve senaryolar yazdı. 1962'de
                edebiyata katkılarından dolayı Nobel Edebiyat Ödülü'ne layık görüldü. </p>
            <p><small></small></p>
                </div>
    </div>

{% endblock resim %}



